*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

input,
textarea,
select,
button {
  font-family: inherit;
}